html.loading {
  height: 100%; }

.loading body, .loading #fullpage, .loading main {
  height: 100%;
  overflow: hidden; }

.loading #section0 {
  position: relative;
  height: 100%;
  width: 100%; }

main {
  overflow-y: hidden; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background: #dbc3d0; }
  body:after {
    content: '';
    position: absolute;
    top: -66%;
    left: -48%;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    z-index: -1;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  @media screen and (min-width: 640px) {
    body:after {
      top: -50%;
      left: -50%;
      width: 200%; } }

.main-header {
  text-align: center;
  width: 110%;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 55%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #dbc3d0;
  text-transform: uppercase; }
  .main-header h1 {
    font-family: 'Abril Fatface', cursive;
    color: #fccdd3;
    font-size: 2.4em;
    background: rgba(255, 95, 105, 0.8); }
  .main-header-thank-you {
    width: 60%;
    margin: 0 auto; }
    .main-header-thank-you-header, .main-header-thank-you-content {
      width: 42%;
      display: inline-block;
      float: left; }
    .main-header-thank-you-content {
      width: 52%;
      padding-left: 3%;
      border-left: 1px solid; }
  .main-header:after {
    content: '';
    width: 74%;
    position: absolute;
    top: 0%;
    left: 50%;
    height: 100%;
    background: #5e0231;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: -1;
    max-height: 400px; }
  @media screen and (min-width: 640px) {
    .main-header {
      width: 60%; }
      .main-header h1 {
        font-size: 3.5em; }
        .main-header h1 .seperator {
          display: inline-block; } }

#fullpage {
  margin: 0 auto;
  max-width: 984px; }

.menu {
  z-index: 99999;
  position: absolute;
  bottom: 50%;
  left: 50%;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  /* List View button */ }
  .menu.active {
    bottom: 1%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  .menu.enable-list-view {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #6e036b;
    border: 0;
    cursor: pointer;
    left: 94%;
    position: fixed;
    box-shadow: 3px 3px 0 0 rgba(35, 31, 32, 0.2); }
    @media screen and (min-width: 640px) {
      .menu.enable-list-view {
        left: 97%; } }

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #51ffce;
  transform-style: preserve-3d;
  -webkit-animation: spin 1.5s infinite linear;
  -moz-animation: spin 1.5s infinite linear;
  animation: spin 1.5s infinite linear;
  position: relative;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  .active .loader {
    opacity: 0;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    animation-play-state: paused; }

.navigation {
  background: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: relative;
  border: 0;
  /* List View button */ }
  .navigation:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-color: #51ffce transparent transparent transparent;
    border-style: solid;
    border-width: 15px 12px 0 12px;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    transition: color 0.5s; }
  .active .navigation {
    -webkit-animation: scroll-down 1.5s infinite ease-in-out;
    -moz-animation: scroll-down 1.5s infinite ease-in-out;
    animation: scroll-down 1.5s infinite ease-in-out; }
    .active .navigation:before {
      border-color: #6e036b transparent transparent transparent; }
  .enable-list-view .navigation {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
    opacity: 0;
    cursor: pointer; }
    .enable-list-view .navigation:before {
      border-width: 0; }

.bar {
  position: absolute;
  top: -10px;
  left: 50%;
  height: 10px;
  width: 2px;
  background: #51ffce;
  -webkit-animation: blink 1.5s infinite linear 0.2s;
  -moz-animation: blink 1.5s infinite linear 0.2s;
  animation: blink 1.5s infinite linear 0.2s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1;
  /* List View button */ }
  .bar:nth-of-type(2) {
    top: -8px;
    left: 10%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: blink 1.5s infinite linear 0s;
    -moz-animation: blink 1.5s infinite linear 0s;
    animation: blink 1.5s infinite linear 0s; }
  .bar:nth-of-type(3) {
    top: -8px;
    left: 90%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: blink 2s infinite linear 0.3s;
    -moz-animation: blink 2s infinite linear 0.3s;
    animation: blink 2s infinite linear 0.3s; }
  .active .bar {
    opacity: 0;
    -webkit-animation: none;
    -moz-animation: none;
    animation: none; }
  .enable-list-view .bar {
    opacity: 1;
    height: 14px;
    background: #f2f2f2;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    left: 48%;
    top: 8px; }
  .enable-list-view .bar:nth-of-type(2) {
    top: 3px; }
  .enable-list-view .bar:nth-of-type(3) {
    top: 13px; }
  .list-view .bar:nth-of-type(1) {
    opacity: 0; }
  .list-view .bar:nth-of-type(2) {
    margin-left: -15%;
    -webkit-transform: rotate(-45deg) translateY(40%);
    -moz-transform: rotate(-45deg) translateY(40%);
    -ms-transform: rotate(-45deg) translateY(40%);
    -o-transform: rotate(-45deg) translateY(40%);
    transform: rotate(-45deg) translateY(40%); }
  .list-view .bar:nth-of-type(3) {
    margin-left: -20%;
    -webkit-transform: rotate(45deg) translateY(-60%);
    -moz-transform: rotate(45deg) translateY(-60%);
    -ms-transform: rotate(45deg) translateY(-60%);
    -o-transform: rotate(45deg) translateY(-60%);
    transform: rotate(45deg) translateY(-60%); }

#overlay {
  outline: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background: #6e036b;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  #overlay:before {
    content: '';
    position: absolute;
    background: rgba(110, 3, 107, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 110%;
    height: 110%;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-animation: loading 1s infinite linear;
    -moz-animation: loading 1s infinite linear;
    animation: loading 1s infinite linear; }
  #overlay.open {
    opacity: 1; }
    #overlay.open:before {
      opacity: 1; }

@-webkit-keyframes spin {
  0% {
    transform: rotateY(0deg); }
  50% {
    transform: rotateY(180deg); }
  90% {
    transform: rotateY(0deg); } }

@-moz-keyframes spin {
  0% {
    transform: rotateY(0deg); }
  50% {
    transform: rotateY(180deg); }
  90% {
    transform: rotateY(0deg); } }

@keyframes spin {
  0% {
    transform: rotateY(0deg); }
  50% {
    transform: rotateY(180deg); }
  90% {
    transform: rotateY(0deg); } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  80% {
    opacity: 0; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }
  80% {
    opacity: 0; } }

@keyframes blink {
  0% {
    opacity: 1; }
  80% {
    opacity: 0; } }

@-webkit-keyframes scroll-down {
  0% {
    transform: translateY(0); }
  60% {
    transform: translateY(20px); } }

@-moz-keyframes scroll-down {
  0% {
    transform: translateY(0); }
  60% {
    transform: translateY(20px); } }

@keyframes scroll-down {
  0% {
    transform: translateY(0); }
  60% {
    transform: translateY(20px); } }

@-webkit-keyframes loading {
  0% {
    opacity: 1;
    width: 100%;
    height: 100%; }
  100% {
    opacity: 0;
    width: 110%;
    height: 110%; } }

@-moz-keyframes loading {
  0% {
    opacity: 1;
    width: 100%;
    height: 100%; }
  100% {
    opacity: 0;
    width: 110%;
    height: 110%; } }

@keyframes loading {
  0% {
    opacity: 1;
    width: 100%;
    height: 100%; }
  100% {
    opacity: 0;
    width: 110%;
    height: 110%; } }

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes rotate {
  100% {
    -moz-transform: rotate(360deg); } }

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }

@-moz-keyframes bounce {
  0%, 100% {
    -moz-transform: scale(0); }
  50% {
    -moz-transform: scale(1); } }

@keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

/* .section-content */
.gallery {
  pointer-events: none; }
  .list-view .gallery {
    pointer-events: auto; }
  .gallery.odd {
    background: none; }
    .gallery.odd .section-comment {
      background: #dbc3d0;
      color: #6534ff; }
    @media screen and (min-width: 640px) {
      .gallery.odd {
        background: none; }
        .gallery.odd:before {
          content: '';
          width: 300%;
          height: 100%;
          position: absolute;
          left: -100%;
          top: 0;
          background: linear-gradient(-5deg, #B3FFEA, #6e036b);
          z-index: -1;
          display: none; }
        .gallery.odd:after {
          display: none;
          content: '';
          width: 100%;
          position: absolute;
          left: -40%;
          top: 25%;
          background: #dbc3d0;
          -webkit-transform: rotate(-180deg);
          -moz-transform: rotate(-180deg);
          -ms-transform: rotate(-180deg);
          -o-transform: rotate(-180deg);
          transform: rotate(-180deg);
          z-index: -1; }
        .gallery.odd.landscape:after {
          height: 25%; }
        .gallery.odd.portrait:after {
          height: 50%; }
        .gallery.odd canvas.landscape {
          border-color: #6e036b;
          border-style: solid;
          border-width: 0; }
        .gallery.odd canvas.portrait {
          border-color: #6e036b;
          border-style: solid;
          border-width: 0; } }
  .gallery.even {
    background: none; }
    .gallery.even .section-comment {
      background: #6534ff;
      color: #bbc4ef; }
    @media screen and (min-width: 640px) {
      .gallery.even {
        background: none; }
        .gallery.even:before {
          content: '';
          width: 300%;
          height: 100%;
          position: absolute;
          left: -100%;
          top: 0;
          background: linear-gradient(5deg, #5e0231, #ff5f69);
          z-index: -1;
          display: none; }
        .gallery.even:after {
          display: none;
          content: '';
          width: 100%;
          position: absolute;
          top: 25%;
          right: -40%;
          background: #5e0231;
          -webkit-transform: rotate(-180deg);
          -moz-transform: rotate(-180deg);
          -ms-transform: rotate(-180deg);
          -o-transform: rotate(-180deg);
          transform: rotate(-180deg);
          z-index: -1; }
        .gallery.even.landscape:after {
          height: 25%; }
        .gallery.even.portrait:after {
          height: 50%; }
        .gallery.even canvas.landscape {
          border-color: #510a0a;
          border-style: solid;
          border-width: 0; }
        .gallery.even canvas.portrait {
          border-color: #510a0a;
          border-style: solid;
          border-width: 0; } }
  .gallery canvas {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.26);
    position: absolute;
    top: 50%;
    pointer-events: none;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    border: 0;
    opacity: 0; }
    .gallery canvas.landscape {
      top: 0;
      left: 50%;
      transform-origin: center top; }

.active canvas {
  opacity: 1; }

.even canvas.portrait {
  left: 0;
  transform-origin: left center; }

.odd canvas.portrait {
  right: 0;
  transform-origin: right center; }

.section-comment {
  padding: 30px;
  font-size: 7.5vmin;
  width: 100%;
  bottom: 0;
  position: absolute;
  box-sizing: border-box;
  text-align: center;
  display: none;
  font-family: 'Abril Fatface', cursive; }
  @media screen and (min-width: 640px) {
    .section-comment {
      font-size: 2vw; }
      .landscape .section-comment {
        width: 95%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%); }
      .portrait .section-comment {
        width: 25%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); }
      .even.portrait .section-comment {
        right: 0%; }
      .odd.portrait .section-comment {
        left: 0%; } }
  @media screen and (min-width: 480px) {
    .section-comment {
      font-size: 3.5vmin; } }

.sections-list {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: #6e036b; }
  .sections-list canvas {
    float: left; }

/* Listing */
.list-view #fullpage {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
  z-index: 1000;
  opacity: 1;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important; }
  .list-view #fullpage .section {
    display: none; }
    .list-view #fullpage .section.gallery {
      width: 80px;
      height: 80px !important;
      overflow: hidden;
      margin: 3px;
      display: block;
      box-shadow: 5px 5px 5px rgba(94, 2, 49, 0.8);
      cursor: pointer; }
      .list-view #fullpage .section.gallery canvas {
        opacity: 1; }
      .list-view #fullpage .section.gallery canvas.landscape {
        height: 100%;
        transform: translateX(-50%) !important; }
      .list-view #fullpage .section.gallery canvas.portrait {
        width: 100%;
        transform: translateY(-50%) !important; }
      .list-view #fullpage .section.gallery .section-comment {
        display: none; }

.list-view-loading #fullpage {
  opacity: 0; }

.chasing-dots {
  position: fixed;
  text-align: center;
  margin-left: -30px;
  height: 60px;
  width: 60px;
  left: 50%;
  bottom: 35px;
  z-index: 10;
  opacity: 0;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out 0;
  -moz-transition: all 0.3s ease-in-out 0;
  transition: all 0.3s ease-in-out 0;
  -webkit-transform: transalteX(-50%);
  -moz-transform: transalteX(-50%);
  -ms-transform: transalteX(-50%);
  -o-transform: transalteX(-50%);
  transform: transalteX(-50%);
  -webkit-animation: rotate 2s infinite linear;
  -moz-animation: rotate 2s infinite linear;
  animation: rotate 2s infinite linear; }
  .chasing-dots .dot1, .chasing-dots .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #B3FFEA;
    border-radius: 100%;
    -webkit-animation: bounce 2s infinite ease-in-out;
    -moz-animation: bounce 2s infinite ease-in-out;
    animation: bounce 2s infinite ease-in-out; }
  .chasing-dots .dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1s;
    -moz-animation-delay: -1s;
    animation-delay: -1s; }
  .chasing-dots.loading {
    opacity: 1; }
