@import 'bourbon';
// Colors
$spinach: #00a54f;
$tomato: #00a54f;
$risotto: #f3f4ee;
$black: #000;
$burn: #231f20;

$coral: #ff5f69;
$scarlet: #FF0315;
$peach: #FF8C94;
$sangria: #510a0a;
$mint: #51ffce;
$honeydew: #B3FFEA;
$pale-mint:#b2f8e4;
$violet: #6e036b;

$plum :#5e0231;
$pink :#dbc3d0;
$latte:#c7a693;
$coffee:#856046;
$milk: #fff;

$salmon: #fccdd3;
$ocean: #6534ff;
$baby-blue: #62bcfa;
$lavendar: #bbc4ef;
$light-grey: #f2f2f2;
// Media Query Breakpoints
$mobile : 480px; // 480px
$moblet : 640px; // 640px
$tablet : 720px; // 720px
$tablet-mid : 888px; // 888px
$tablet-landscape : 984px; // 984px
$laptop : 1200px; // 1200px
$desktop : 1392px; // 1392px
$cinema : 1680px; // 1680px


$fix-mqs: false;
@mixin breakpoint($width) {
    // If we're outputting for a fixed media query set...
    @if $fix-mqs {
        // ...and if we should apply these rules...
        @if $fix-mqs >= $width {
            // ...output the content the user gave us.
            @content;
        }
    }
    @else {
        // Otherwise, output it using a regular media query
        @media screen and (min-width: $width) {
            @content;
        }
    }
}
// I also have a respond-max mixin, that does what you might expect
@mixin breakpoint-max($width) {
    @if $fix-mqs {
        @if $fix-mqs <= $width {
            @content;   
        }
    }
    @else {
        @media screen and (max-width: $width) {
            @content;
        }
    }
}


