@import 'setting';

@mixin font-open-sans{
	font-family: 'Open Sans', sans-serif;
}
@mixin font-abril-fatface{
	font-family: 'Abril Fatface', cursive;
}

html.loading{
	height: 100%;
}
.loading{
	body, #fullpage, main{
		height: 100%;
		overflow: hidden;
	}
	#section0{
		position: relative;
		height: 100%;
		width: 100%;
	}
}
main{
	  overflow-y: hidden;
}
body{
	@include font-open-sans;
	font-weight: 300;
	background: $pink;
	&:after{
		content: '';
		position: absolute;
		top: -66%;
		left: -48%;
		width: 100%;
		height: 100%;
		background: $light-grey;
		z-index: -1;
		@include transform(rotate(-45deg));
	}
	@include breakpoint($moblet){
		&:after{
			top: -50%;
			left: -50%;
			width: 200%;
		}
	}
}

.main-header{
	text-align: center;
	width: 110%;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 55%;
	@include transform(translate(-50%,-50%));
	color: $pink;
	text-transform: uppercase;
	h1{
		@include font-abril-fatface;
		color: $salmon;
		font-size: 2.4em;
		background: rgba($coral,.8);
	}
	&-thank-you{
		width: 60%;
		margin: 0 auto;
		&-header,&-content{
			width: 42%;
			display: inline-block;
			float: left;
		}
		&-content{
			width: 52%;
			padding-left: 3%;
			border-left: 1px solid;
		}
	}
	&:after{
		content: '';
		width: 74%;
		position: absolute;
		top: 0%;
		left: 50%;
		height: 100%;
		//border: 1px solid $pink;
		background: $plum;
		@include transform(translateX(-50%));
		z-index: -1;
		max-height: 400px;
	}
	@include breakpoint($moblet){
		width: 60%;
		h1{
			font-size: 3.5em;
			.seperator{
				display: inline-block;
			}
		}
	}
}
#fullpage{
	margin: 0 auto;
	max-width: $tablet-landscape;
}
.menu{
	z-index: 99999;
	position: absolute;
	bottom: 50%;
	left: 50%;
	@include transition(all .8s);
	@include transform(translate(-50%, -50%));
	text-align: center;
	&.active{
		bottom: 1%;
		@include transform(translate(-50%, 0));
	}
	/* List View button */
  &.enable-list-view{
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background: $violet;
		border: 0;
		cursor: pointer;
		left: 94%;
		position: fixed;
		box-shadow: 3px 3px 0 0 rgba($burn,.2);
		@include breakpoint($moblet){
			left: 97%;
		}
	}
}
.loader{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid $mint;
	transform-style: preserve-3d;
	@include animation( spin 1.5s infinite linear);
	position: relative;
	opacity: 1;
	@include transition(opacity .3s);
	.active &{
		opacity: 0;
		@include animation-play-state(paused);
	}
}
.navigation{
	background: none;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	//background: $milk;
	position: relative;
	border: 0;
	&:before{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 0;
		border-color: $mint transparent transparent transparent;
		border-style: solid;
		border-width: 15px 12px 0 12px;
		@include transition(color .5s);
	}
	.active &{
		@include animation(scroll-down 1.5s infinite ease-in-out);
		&:before{
			border-color: $violet transparent transparent transparent;
		}
	}
	/* List View button */
  .enable-list-view & {
		@include animation(none);
		opacity: 0;
		cursor: pointer;
		&:before{
			border-width: 0;
		}
	}
}
.bar{
	position: absolute;
	top: -10px;
	left: 50%;
	height: 10px;
	width: 2px;
	background: $mint;
	@include animation( blink 1.5s infinite linear 0.2s);
	@include transition(all .3s);
	opacity: 1;
	&:nth-of-type(2){
		top: -8px;
		left: 10%;
		@include transform(rotate(-45deg));
		@include animation(blink 1.5s infinite linear 0s);
	}
	&:nth-of-type(3){
		top: -8px;
		left: 90%;
		@include transform(rotate(45deg));
		@include animation( blink 2s infinite linear .3s);
	}
	.active &{
		opacity: 0;
		@include animation(none);
	}
	/* List View button */
  .enable-list-view & {
		opacity: 1;
		height: 14px;
		background: $light-grey;
		@include transform(rotate(-90deg));
		left: 48%;
		top: 8px;
	}
	.enable-list-view &:nth-of-type(2) {
		top: 3px;
	}
	.enable-list-view &:nth-of-type(3) {
		top: 13px;
	}
	.list-view &:nth-of-type(1) {
		opacity: 0;
	}
	.list-view &:nth-of-type(2) {
		margin-left: -15%;
		@include transform(rotate(-45deg) translateY(40%));
	}
	.list-view &:nth-of-type(3) {
		margin-left: -20%;
		@include transform(rotate(45deg) translateY(-60%));
	}
}

#overlay{
	outline: none;
	position: fixed;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
	background: $violet;
	border-radius: 50%;
	opacity: 0;
	@include transition(all .5s);
	@include transform(translate(-50%,-50%));
	&:before{
		content: '';
		position: absolute;
		background: rgba($violet,.6);
		position: absolute;
		top: 50%;
		left: 50%;
		width: 110%;
  	height: 110%;
		border-radius: 50%;
		@include transform(translate(-50%,-50%));
		opacity: 0;
		@include animation( loading 1s infinite linear);
	}
	&.open{
		opacity: 1;
		&:before{
			opacity: 1;
		}
	}
}
@include keyframes( spin ) {
  0% {transform: rotateY(0deg);}
  50%{transform: rotateY(180deg);}
  90% {transform: rotateY(0deg);}
}
@include keyframes( blink ){
  0% {opacity:1;}
  80%{opacity: 0;}
}
@include keyframes( scroll-down ){
  0% {transform: translateY(0);}
  60%{transform: translateY(20px);}
}
@include keyframes( loading ){
	0% {opacity:1;width: 100%;height:100%;}
  100%{opacity:0;width: 110%;height:110%;}
}
@include keyframes( rotate ){
	100%{@include transform(rotate(360deg))}
}
@include keyframes( bounce ){
	0%, 100%{@include transform(scale(0))}50%{@include transform(scale(1))}
}
/* .section-content */
.gallery{
	pointer-events: none;
	.list-view & {
		pointer-events: auto;
		
	}
	&.odd{
		.section-comment{
			background: $pink;
			color: $ocean;
		}
		background: none;
		@include breakpoint($moblet){
			background: none;
			&:before{
				content: '';
				width: 300%;
				height: 100%;
				position: absolute;
				left: -100%;
				top: 0;
				background: linear-gradient(-5deg,$honeydew,$violet);
				z-index: -1;
				display: none;
			}
			&:after{
				display: none;
				content: '';
				width: 100%;
				position: absolute;
				left: -40%;
				top: 25%;
				background: $pink;
				@include transform(rotate(-180deg));
				z-index: -1;
			}
			&.landscape:after{
				height: 25%;
			}
			&.portrait:after{
				height: 50%;
			}
			canvas.landscape{
				border-color: $violet;
				border-style: solid;
				border-width: 0;
			}
			canvas.portrait{
				border-color: $violet;
				border-style: solid;
				border-width: 0;
			}
		}
	}
	&.even{
		.section-comment{
			background: $ocean;
			color: $lavendar;
		}
		background: none;
		@include breakpoint($moblet){
			background: none;
			&:before{
				content: '';
				width: 300%;
				height: 100%;
				position: absolute;
				left: -100%;
				top: 0;
				background: linear-gradient(5deg,$plum,$coral);
				z-index: -1;
				display: none;
			}
			&:after{
				display: none;
				content: '';
				width: 100%;
				position: absolute;
				top: 25%;
				right: -40%;
				background: $plum;
				@include transform(rotate(-180deg));
				z-index: -1;
			}
			&.landscape:after{
				height: 25%;
			}
			&.portrait:after{
				height: 50%;
			}
			//background: linear-gradient(0deg,$coral,rgba($coral,.8),$coral);
			canvas.landscape{
				border-color: $sangria;
				border-style: solid;
				border-width: 0;
			}
			canvas.portrait{
				border-color: $sangria;
				border-style: solid;
				border-width: 0;
			}
		}
	}
	canvas{
		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.26);
		position: absolute;
		top: 50%;
		pointer-events: none;
		@include transition(all .5s ease-in);
		border: 0;
		opacity: 0;
		&.landscape{
			top: 0;
			left: 50%;
			transform-origin: center top;
		}
	}
}
.active canvas{
	opacity: 1;	
}
.even canvas.portrait{
	left: 0;
	transform-origin: left center;
}
.odd canvas.portrait{
	right: 0;
	transform-origin: right center;
}
.section-comment{
	padding: 30px;
	font-size: 7.5vmin;
	width: 100%;
	bottom: 0;
	position: absolute;
	box-sizing: border-box;	
	text-align: center;
	display: none;
	@include font-abril-fatface;
	@include breakpoint($moblet){
		font-size: 2vw;
		.landscape &{
			width: 95%;
			left: 50%;
			@include transform(translateX(-50%));
		}
		.portrait &{
			width: 25%;
			top: 50%;
			@include transform(translateY(-50%));
		}
		.even.portrait &{
			right: 0%;
		}
		.odd.portrait &{
			left: 0%;
		}
	}
	@include breakpoint($mobile){
		font-size: 3.5vmin;
	}
}
.sections-list{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background: $violet;
	canvas{
		float: left;
	}
}

/* Listing */
.list-view{
	#fullpage{
		@include display(flex);
		@include flex-wrap(wrap);
		@include justify-content(space-around);
		z-index: 1000;
		opacity: 1;
		@include transform(none!important) ;
		.section{
			display: none;
			&.gallery{
				width: 80px;
				height: 80px !important;
				overflow: hidden;
				margin: 3px;
				display: block;
				box-shadow: 5px 5px 5px rgba($plum, 0.8);
				cursor: pointer;
				canvas{
					opacity: 1;
				}
				canvas.landscape{
					height: 100%;
					transform: translateX(-50%)!important;
				}
				canvas.portrait{
					width: 100%;
					transform: translateY(-50%)!important;
				}
				.section-comment{
					display: none;
				}
			}
		}
	}
}
.list-view-loading{
	#fullpage{
		opacity: 0;
	}
}
.chasing-dots{
	position: fixed;
  text-align: center;
  margin-left: -30px;
	height: 60px;
  width: 60px;
  left: 50%;
	bottom: 35px;
  z-index: 10;
	opacity: 0;
	display: inline-block;
	@include transition( all 0.3s ease-in-out 0 );
	@include transform(transalteX(-50%));
	@include animation( rotate 2.0s infinite linear );
	.dot1,.dot2{
		width: 60%;
		height: 60%;
		display: inline-block;
		position: absolute;
		top: 0;
		background-color: $honeydew;
		border-radius: 100%;
		@include animation( bounce 2.0s infinite ease-in-out );
	}
	.dot2{
		top: auto;
		bottom: 0;
		@include animation-delay(-1.0s);
	}
	&.loading{
		opacity: 1;
	}
}